<!DOCTYPE html>
<html lang="en" ng-app="draxApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drax the Deployer</title>

    <!-- build:css styles/vendor.css -->
      <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- endbuild -->

    <link href="css/site.css" rel="stylesheet">


  </head>
  <body ng-controller="draxCtrl">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
          <div ng-repeat="commit in commits">
            <div drax-commit ng-model="commit"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- build:js scripts/vendor.js -->
      <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/client.js -->
      <script type="text/javascript" src="scripts/app.js"></script>
      <script type="text/javascript" src="scripts/controllers/draxCtrl.js"></script>
      <script type="text/javascript" src="scripts/directives/draxCommit.js"></script>
      <script type="text/javascript" src="scripts/services/DataService.js"></script>
    <!-- endbuild -->
  </body>
</html>

