<div class="commit">
  <div class="commit-controls btn-group pull-right">
    <button class="btn btn-default" ng-click="build()">
      <span ng-if="commit.status === 'not built'">
        <i class="fa fa-wrench"></i>
      </span>
      <span ng-if="commit.status === 'built'">
        <i class="fa fa-refresh"></i>
      </span>
      <span ng-if="commit.status === 'building'">
        <i class="fa fa-refresh fa-spin"></i>
      </span>
    </button>
    <a class="btn btn-default" ng-disabled="commit.status !== 'built'" href="/api/v1/preview/{{commit.hash}}">
      <i class="fa fa-eye"></i>
    </a>
    <button dropdown-menu="deployments" dropdown-item-label="name" dropdown-onchange="deploy(selected.name, commit.hash)" class="btn btn-default" ng-disabled="commit.status !== 'built'" ng-click="deploy()">
      <i class="fa fa-rocket"></i>
    </button>
  </div>
  <div class="commit-hash">{{commit.hash}}</div>
  <div class="commit-byline">by {{commit.authorName}} @ {{commit.date.toDate()|date:'yyyy-MM-dd HH:mm:ss'}}</div>
  <p>status: {{ commit.status }}</p>
  <p>{{ commit.subject }}</p>
  <p>{{ commit.body }}</p>
</div>
