<div class="commit">
  <h3>commit</h3>
  <div class="btn-group">
    <button class="btn btn-default" ng-click="build()">
      <span ng-if="commit.status === 'not built'">
        <i class="fa fa-wrench"></i>
      </span>
      <span ng-if="commit.status === 'built'">
        <i class="fa fa-refresh"></i>
      </span>
      <span ng-if="commit.status === 'building'">
        <i class="fa fa-refresh fa-spin"></i>
      </span>
    </button>
    <a class="btn btn-default" ng-disabled="commit.status !== 'built'" href="/api/v1/preview/{{commit.hash}}">
      <i class="fa fa-eye"></i>
    </a>
  </div>
  <p>status: {{ commit.status }}</p>
  <p>{{ commit.hash }}</p>
  <p>{{ commit.subject }}</p>
  <p>{{ commit.body }}</p>
</div>
