.commit {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #E4EBEA;

    .commit-controls {
        padding-right: 40px;
    }

    .commit-hash {
      height: 2em;
      font-weight: bold;
      font-size: 1.04em;
    }

    .wrap-dd-menu {
        padding: 0;
        width: 0px;

        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px
        }

        .dropdown:after, .dropdown:before {
            left: 25%;
        }

        ul {
            margin-top: 10px;
        }

        .dropdown {
            width: 200px;
        }
    }

}
